{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> My Portfolio</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" /> -->
</head>

<body>
    <div class="page-container">
        <header class="header">
            <nav class="navbar">
                <div class="logo">
                    <h2 class="logo-heading">Md Farukuzzaman </h2>
                </div>
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars hamburger-icon"></i>
                    <i class="fas fa-time cross-icon"></i>
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-list-items">
                            <a class="links" href="{% url 'index' %}">
                                Home
                            </a>
                        </li>
                        <li class="menu-list-items">
                            <a class="links" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="menu-list-items">
                            <a class="links" href="{% url 'work' %}">
                                Work
                            </a>
                        </li>
                        <li class="menu-list-items">
                            <a class="links" href="{% url 'contact' %}">
                                Contact Me
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="home">
            <section class="student">
                <div class="intro">
                    <div class="headings">
                        <h3 class="hello-heading">Hello, My name is </h3>
                        <h3 class="my-heading">Md Farukuzzaman.</h3>
                        <h4>I am majoring Computer Science with cybersecurity concentration at university of Memphis.</h4>
                    </div>
                </div>
            </section>
        </div>

        

        <!-- Footer section -->
        <footer class="footer">
            <div class="footer-content text-center">
                <h4>
                    Copyright © 2024 All rights reserved |
                    This portfolio website template is created
                    by Md Farukuzzaman.
                </h4>

            </div>
            </div>
        </footer>
        <div class="social-links">
            <a href="http://instagram.com/"><i class="fa fa-instagram"></i></a>
            <a href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</body>
<script src="{% static 'script.js' %}"></script>
</html>